@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* .bg-hero {
  background: linear-gradient(to bottom, #FFF0F4 100%, #FFFFFF 100%, #FFF0F4 100%);
}
.font-thiin {
  font-weight: 500;
} */